.btn {
	background: $blue;
	font: 18px/24px $baseFF;
	padding: 10px 45px;
	color: $white;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	svg {
		fill: $white;
		@include time();
	}

	&:hover,
	&:active {
		background: $link-dark;
		color: $white;
	}

	&:focus {
		outline: none; /* background: inherit; border-color: inherit; color: inherit;  */
	}

	&--icon {
		@include flex(0, center, center, nowrap);
		display: inline-flex;
		padding-left: 16px;
		padding-right: 16px;
		svg {
			font-size: 20px;
			//fill: $green;
			margin-right: 6px;
			flex: 0 0 auto;
		}
		span {
			flex: 1 1 auto;
			text-align: center;
		}
		span + svg {
			margin: 0 0 0 6px;
		}
	}
	&--gray {
		background: $gray-btn;
		text-transform: uppercase;
		color: $white;
		font-size: 12px;
		font-weight: 600;
	}
	&--blue-dark {
		background: $blue-dark;
		color: $white;
		&:hover,
		&:active {
			background: #2d619c;
		}
	}

	&--lg {
		padding-left: 50px;
		padding-right: 50px;

		svg {
			font-size: 19px;
			margin-right: 16px;
		}
	}
	&--bold {
		padding: 15px 7px;
	}
	&--md {
		padding: 13px 15px;
		border-radius: 1px;
	}
	&--sm {
		padding: 5px 16px;
		font: 500 14px/26px $baseFF;
	}

	@include media($lg) {
	}

	@include media($md) {
	}

	@include media($sm) {
	}

	@include media($xs) {
		font: 700 14px/20px $baseFF;
		padding: 10px 20px;

		&--lg {
			padding: 11px 48px;
		}
		&--sm {
			border-radius: 1px;
			padding: 20px 13px;
		}
	}
}
