.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon_service-icon-1 {
  font-size:(511/10)*1rem;
  width:(511/511)*1em;
}
.icon_service-icon-10 {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_service-icon-2 {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_service-icon-3 {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_service-icon-4 {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_service-icon-5 {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_service-icon-6 {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_service-icon-7 {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_service-icon-8 {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_service-icon-9 {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
