.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon_cart {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_clock {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_close {
  font-size:(20/10)*1rem;
  width:(20/20)*1em;
}
.icon_earth {
  font-size:(430/10)*1rem;
  width:(430/430)*1em;
}
.icon_heart {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_kyivstar {
  font-size:(328.8/10)*1rem;
  width:(343.1/328.8)*1em;
}
.icon_libra {
  font-size:(474/10)*1rem;
  width:(474/474)*1em;
}
.icon_lifecell {
  font-size:(349.8/10)*1rem;
  width:(343.3/349.8)*1em;
}
.icon_phone {
  font-size:(51.4/10)*1rem;
  width:(51.4/51.4)*1em;
}
.icon_refresh {
  font-size:(491.2/10)*1rem;
  width:(491.2/491.2)*1em;
}
.icon_search {
  font-size:(310.4/10)*1rem;
  width:(310.4/310.4)*1em;
}
.icon_telegram {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_tick {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_user {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_viber {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_vodafon {
  font-size:(283.5/10)*1rem;
  width:(283.5/283.5)*1em;
}
