$title-h1: bold 50px/1.02 $titleFF;
$title-h2: bold 35px/1.3 $titleFF;
$title-h3: bold 25px/1.4 $baseFF; // ?
$title-h4: bold 18px/1.4 $baseFF;
$title-h5: 600 16px/1.4 $titleFF;
$title-h6: 500 14px/1.4 $baseFF;

$title-h1-lg: bold 40px/1.02 $titleFF;
$title-h2-lg: bold 30px/1.3 $titleFF;
$title-h3-lg: bold 24px/1.4 $baseFF; // ?
$title-h4-lg: 600 18px/1.4 $baseFF; // ?
$title-h5-lg: 600 16px/1.4 $titleFF; // ?

$title-h1-sm: bold 30px/1.02 $titleFF;
$title-h2-sm: bold 24px/1.3 $titleFF;
$title-h3-sm: bold 20px/1.4 $baseFF; // ?
$title-h4-sm: 600 18px/1.4 $baseFF;
$title-h5-sm: 600 16px/1.4 $titleFF; // ?

$title-h1-xs: bold 26px/1.03 $titleFF; // ?
$title-h2-xs: bold 20px/1.3 $titleFF; // ?
$title-h3-xs: bold 18px/1.4 $baseFF; // ?
$title-h4-xs: 600 16px/1.4 $baseFF; // ?
$title-h5-xs: 600 14px/1.4 $titleFF; // ?

$title-color: inherit;

h1,
.title-h1 {
	font: $title-h1;
	//color: $title-color;
	margin: 0 0 24px 0;
	@include media($md) {
		font: $title-h1-lg;
	}
	@include media($sm) {
		font: $title-h1-sm;
	}
	@include media($xxs) {
		font: $title-h1-xs;
	}
}
h2,
.title-h2 {
	font: $title-h2;
	//color: $title-color;
	margin: 0 0 24px 0;
	text-transform: uppercase;
	letter-spacing: 0.01em;

	@include media($md) {
		font: $title-h2-lg;
	}
	@include media($sm) {
		font: $title-h2-sm;
	}
	@include media($xs) {
		font: $title-h2-xs;
	}
}
h3,
.title-h3 {
	font: $title-h3;
	//color: $title-color;
	margin: 0 0 24px 0;
	text-transform: uppercase;
	letter-spacing: 0.01em;

	@include media($lg) {
		font: $title-h3-lg;
	}
	@include media($sm) {
		font: $title-h3-sm;
	}
	@include media($xs) {
		font: $title-h3-xs;
	}
}
h4,
.title-h4 {
	font: $title-h4;
	//color: $title-color;
	margin: 0 0 16px 0;
	@include media($lg) {
		//font: $title-h4-lg; margin-bottom: 20px;
	}
	@include media($sm) {
		//font: $title-h4-sm; margin-bottom: 30px;
	}
	@include media($xs) {
		font: $title-h4-xs;
	}
}
h5,
.title-h5 {
	font: $title-h5;
	//color: $title-color;
	margin: 0 0 16px 0;
	text-transform: uppercase;
	@include media($lg) {
		//font: $title-h5-lg;
	}
	@include media($sm) {
		//font: $title-h5-sm;
	}
	@include media($xs) {
		font: $title-h5-xs;
	}
}

.title-h6 {
	font: $title-h6;
	//color: $title-color;
	margin: 0 0 16px 0;

	@include media($lg) {
		//font: $title-h5-lg;
	}
	@include media($sm) {
		//font: $title-h5-sm;
	}
	@include media($xs) {
		//font: $title-h5-xs;
	}
}
