$title-h1: bold 24px/26px $titleFF;
$title-h2: bold 35px/1.3 $titleFF;
$title-h3: normal 25px/1.4 $baseFF; // ?
$title-h4: normal 15px/1.1 $baseFF; // ?

$title-h1-lg: bold 40px/1.02 $titleFF;
$title-h2-lg: bold 30px/1.3 $titleFF;
$title-h3-lg: normal 24px/1.4 $baseFF; // ?
$title-h4-lg: normal 14px/1.1 $baseFF; // ?

$title-h1-sm: bold 30px/1.02 $titleFF;
$title-h2-sm: bold 24px/1.3 $titleFF;
$title-h3-sm: normal 20px/1.4 $baseFF; // ?
$title-h4-sm: normal 14px/1.1 $baseFF; // ?

$title-h1-xs: bold 26px/1.03 $titleFF; // ?
$title-h2-xs: bold 20px/1.3 $titleFF; // ?
$title-h3-xs: normal 18px/1.4 $baseFF; // ?
$title-h4-xs: normal 13px/1.1 $baseFF; // ?

$title-color: inherit;

h1,
.title-h1 {
	font: $title-h1;
	color: $title-color;
}
h2,
.title-h2 {
	font: $title-h2;
	//color: $title-color;
	margin: 0 0 24px 0;
	text-transform: uppercase;
	letter-spacing: 0.01em;

	@include media($md) {
		font: $title-h2-lg;
	}
	@include media($sm) {
		font: $title-h2-sm;
	}
	@include media($xs) {
		font: $title-h2-xs;
	}
}
h3,
.title-h3 {
	font: $title-h3;
	//color: $title-color;
	margin: 0 0 35px 0;
	text-transform: uppercase;

	@include media($lg) {
		font: $title-h3-lg;
	}
	@include media($sm) {
		font: $title-h3-sm;
	}
	@include media($xs) {
		font: $title-h3-xs;
	}
}

h4,
.title-h4 {
	font: $title-h3;
	//color: $title-color;
	margin: 0 0 20px 0;
	text-transform: uppercase;

	@include media($lg) {
		font: $title-h3-lg;
	}
	@include media($sm) {
		font: $title-h3-sm;
	}
	@include media($xs) {
		font: $title-h3-xs;
	}
}

