.pagination {
	@include flex(space-between, center, center, nowrap);
	&__counter {
		@include flex(0, center, center, nowrap);
		&-label {
			margin-right: 18px;
			color: #495756;
			font: 15px $baseFF;
		}
	}
	&__next,
	&__prev {
		margin-right: 20px;
		a {
			width: 34px;
			height: 34px;
			@include flex(0, center, center);
			svg {
				font-size: 34px;
				fill: rgba(#245e63, 0.2);
				display: block;
				@include time();
			}

			&:hover,
			&:active {
				svg {
					fill: $green;
				}
			}
		}
	}
	&__next {
		margin-left: 20px;
		margin-right: 0;
	}
	&__prev {
		a {
			@include flex(flex-end, center, center);
		}
		svg {
			transform: rotate(180deg);
		}
	}
	&__list {
		@include flex(0, center, center, nowrap);
		flex: 0 1 auto;
	}
	&__item {
		margin: 0 5px;
		font: 15px $baseFF;
		span,
		a {
			width: 34px;
			height: 34px;
			border-radius: 50%;
			@include flex(center, center, center);
			color: $black;
			background-color: $white;
			box-shadow: $cards-bg;
			text-align: center;
			@include time();
		}
		span {
			background: $green;
			color: $white;
		}

		&.is-active {
			a {
				background: $green;
				color: $white;
			}
		}
	}

	&__load {
		margin-bottom: 20px;
		display: none;
	}

	/* &--news-view {
		@include flex(space-between, center, center, nowrap);
	}
	&--news-view & {
		&__next,
		&__prev {
			flex: 1 1 auto;
			@include flex(0, center, center, nowrap);
			margin: 0;
			color: #767676;
			font: 500 13px $baseFF;
			span {
				margin-left: 20px;
			}
		}
		&__next {
			@include flex(flex-end, center, center, nowrap);
			margin: 0;
			span {
				margin: 0 20px 0 0;
			}
		}
	} */

	@include media($md) {
		@include flex(space-between, center, center, nowrap);
		&__prev {
			margin-right: 15px;
			flex: 1 1 auto;
		}
		&__next {
			margin-left: 15px;
			flex: 1 1 auto;
			@include flex(flex-end);
		}

		&--news-view & {
			&__next,
			&__prev {
				flex: 1 1 auto;
				@include flex(0, center, center, nowrap);
				margin: 0;
			}
			&__next {
				@include flex(flex-end, center, center, nowrap);
				margin: 0;
			}
		}
	}

	@include media($xs) {
		flex-wrap: wrap;
		&__counter {
			flex: 0 0 100%;
			margin-bottom: 16px;
			&-label {
				margin-right: 16px;
				flex: 1 1 auto;
				font: 14px $baseFF;
			}
		}
		&__load {
			display: block;
			flex: 0 0 100%;
			padding: 7px 20px;
		}
		&__item {
			margin: 0 3px;
			font: 14px $baseFF;

			span,
			a {
				width: 30px;
				height: 30px;
			}
		}
		&__list {
			flex: 0 0 100%;
			justify-content: center;
		}
		&__next,
		&__prev {
			margin-right: 16x;
			a {
				width: 30px;
				height: 30px;

				svg {
					font-size: 30px;
				}
			}
		}
		&__next {
			margin-left: 16px;
			margin-right: 0;
		}

		/* &--news-view & {
			&__next,
			&__prev {
				span {
					display: none;
				}
			}
		} */
	}
}
