.nav {
	@include flex(flex-end, center);
	flex: 1 1 auto;
	&__nav {
		@include flex(0, center);
	}
	&__part {
		@include flex();
		&--left {
			.nav__item {
				padding: 15px 16px;
				border-right: 1px solid $white;
				&:last-child {
					border-right: none;
				}
				&:first-child {
					padding-left: 0;
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		&--right {
			margin-left: auto;
			.nav__item {
				font: 14px/20px $baseFF;
				padding: 0 16px;
				border-right: 1px solid $white;
				svg {
					fill: $blue;
				}
				&:last-child {
					border-right: none;
					padding-right: 0;
				}
				&:first-child {
					padding-left: 0;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	&__item {
		color: $white;
		font: 18px/13px $baseFF;
		svg {
			font-size: 24px;
			fill: $black;
		}
	}
	&__item-icon {
		position: relative;
		@include flex(0, center, 0, 0, column);
	}
	&__amount {
		@include flex(center, center);
		position: absolute;
		top: -8px;
		right: -2px;
		height: 17px;
		width: 17px;
		font-size: 12px;
		border-radius: 50%;
		background-color: $blue;
	}
	@include media($md) {
		flex: 0 1 auto;
		&__part {
			&--left {
				display: none;
			}
			&--right {
				flex-wrap: nowrap;
				margin-left: 7px;
				.nav__item {
					font: 12px/20px $baseFF;
					padding: 0 6px;
					border-right: none;
					svg {
						fill: $blue;
					}
					&:last-child {
						border-right: none;
						padding-right: 0;
					}
					&:first-child {
						border-right: none;
						padding-left: 0;
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	@include media($xs) {
		&__amount {
			top: -8px;
			right: -10px;
		}
		&__item {
			span {
				display: none;
			}
		}
	}
}
