mixin navBlock(data)
	.nav&attributes(attributes)
		._part.nav__part--left
			._item
				a(href="#") 3D визуализация
			._item
				a(href="#") Акции
			._item
				a(href="#") Оплата и доставка
			._item
				a(href="#") Контакты		
		._part.nav__part--right
			._item
				a(href="#")._item-icon
					+svg('libra')
					span Сравнить
			._item
				a(href="#")._item-icon
					._amount 1
					+svg('heart')
					span Избранное
			._item
				a(href="#")._item-icon
					._amount 1
					+svg('cart')
					span Корзина		