extends extends/base.pug

block styles
	
block content
	include ../components/main-section/template
	+mainSection({
		bread: [{url: '#', title: 'корзина'}]
	})
		h1.main-section__title.title-h3 ваша корзина

	include ../components/footer/template  
	+footer()

block scripts 