extends extends/base.pug
append vars
	- var pageUrl = 'main.html';
	- var pageTitle = 'Главная';
	- var classBody = 'main-page';
	- var headerBg = 'images/main-banner.jpg';
block styles
	
block content
	
	//- include ../components/catalog-section/template 
	//- +catalogSection()
	
	
	include ../components/footer/template  
		+footer()    

	//- +gridLayout() 

block scripts 
