.main-section {
	padding: 40px 0 170px;
	position: relative;
	background: url("../images/bg-main.png");
	flex: 1 1 atuo;
	&__bread {
		margin-bottom: 30px;
	}
	&__title {
		color: $title-color;
	}
	&__subtitle {
		color: $green;
	}
	&__row {
		margin-bottom: -30px;
		&-item {
			margin-bottom: 30px;
		}
	}
	&--catalog {
		padding-bottom: 35px;
	}
	&--catalog & {
		&__row {
			&-bottom {
				margin: 40px 0;
			}
			&-link {
				@include flex(center, center);
				span {
					font: 700 27px/1.2 $baseFF;
					color: $gray-dark;
					&:hover {
						text-decoration: underline;
					}
				}
				svg {
					font-size: 55px;
					margin-right: 25px;
					fill: $gray-dark;
				}
			}
			.js-row {
				.main-section__row-item {
					flex: 0 0 100% !important;
					max-width: 100%;
				}
				.product-block {
					@include flex(0, center, center,nowrap);
					padding: 20px 40px 20px 20px;
					&__img {
						margin-bottom: 0;
						justify-content: flex-start;
						&-link {
							margin-left: 20px;
							width: 70%;
						}
					}
					&__wrap {
						padding: 0;
						flex: 0 1 60%;
					}
					&__info {
						font-size: 16px;
						margin-bottom: 30px;
						text-align: end;
					}
					&__cost {
						&-items {
							@include flex(flex-end);
						}
						&-cart {
							margin-left: 30px;
						}
					}
					@include media ($sm) {
					}
					@include media ($xs) {
						@include flex(center, center, center,0,column);
						&__img {
							justify-content: center;
							margin-bottom: 25px;
						}
						&__info {
							text-align: center;
							font-size: 14px;
							margin-bottom: 20px;
						}
						&__cost {
							&-items {
								@include flex(space-between);
							}
						}
					}
				}
			}
		}
		&__filter {
			margin-bottom: 70px;
		}
		&__pagination {
			border-top: 2px solid $gray_dark;
			padding-top: 50px;
			margin-bottom: 20px;
		}
		&__sort {
			@include flex(flex-end);
			margin-bottom: 35px;
			&-item {
				@include flex(flex-end, center);
				select {
					padding: 10px 0 10px 0;
					background-color: $white;
					border-radius: 0;
					border: 1px solid $gray-border;
					margin-right: 10px;
				}
				.nice-select {
					padding-right: 45px;
					&__drop {
						width: auto;
					}
				}
			}
			&-button {
				display: none;
				max-width: 286px;
				width: 100%;
				margin-bottom: 25px;
				.btn {
					width: 100%;
					justify-content: center;
					padding-left: 95px;
				}
				svg {
					margin-left: auto;
					margin-right: 0;
				}
			}
			&-link {
				@include flex(center, center);
				background-color: $white;
				padding: 8px;
				border: 1px solid $gray-border;
				transition: all 0.3s;
				svg {
					font-size: 26px;
				}
				&.active {
					background-color: $gray-middle;
				}
			}
		}
	}
	&--cart {
		padding: 30px 0 30px;
	}
	&--cart & {
		&__head {
			@include flex(space-between, center);
			margin-bottom: 27px;
			&-link {
				font: 600 14px/23px $baseFF;
				letter-spacing: 1px;
				color: $blue;
				transition: all 0.3s;
				&:hover {
					color: $link-dark;
				}
			}
		}
		&__title {
			margin-bottom: 0;
			margin-right: 15px;
		}
		&__subtitle {
			font: 14px/1.4 $baseFF;
			color: #8699a5;
			margin-bottom: 30px;
		}
		&__table-body {
			width: 100%;
		}
		&__total {
			@include flex(flex-end);
			margin-top: 67px;
			margin-bottom: 95px;
			&-body {
				@include flex(0, 0, 0, 0, column);
			}
			&-title {
				// font: 700 18px/1.2 $baseFF;
				// margin-bottom: 23px;
				// text-transform: uppercase;
			}
			&-table {
				margin-bottom: 67px;
			}
			&-button {
				margin-top: 27px;
				max-width: 571px;
				.btn {
					width: 100%;
				}
			}
		}
	}
	&--product {
		padding-bottom: 0;
	}
	&--product & {
		&__galery {
			max-height: 1040px;
		}
		&__products {
			&-title {
				// font-size: 24px;
				// margin-bottom: 30px;
			}
		}
		&__head {
			margin-bottom: 15px;
			@include flex(space-between, center);
			img {
				width: 100%;
				height: 35px;
			}
		}
		&__articul {
			font: 14px/1.2 $baseFF;
		}
		&__title {
			font: 600 41px/1.2 $baseFF;
			text-transform: none;
		}
		&__cost {
			font: 600 48px/1.2 $baseFF;
		}
		&__delivery-free {
			margin-top: 20px;
			height: 65px;
			width: 495px;
			background-color: $white;
			color: $text-gray;
			border: 1px solid $gray-border;
			padding: 22px 25px 22px 35px;
			font-size: 19px;
			margin-bottom: 40px;
			span {
				position: relative;
				&:before {
					position: absolute;
					top: 50%;
					left: -15px;
					content: "";
					height: 8px;
					width: 8px;
					border-radius: 50%;
					background-color: $blue;
					margin-top: -4px;
				}
			}
			strong {
				color: $black;
			}
		}
		&__bottom {
			margin-top: 50px;
			margin-bottom: 25px;
		}
		&__table-title {
			// text-transform: uppercase;
			// font-size: 25px;
			// margin-bottom: 40px;
		}
		&__img {
			img {
				width: 100%;
			}
			&-title {
				// font-size: 25px;
				// text-transform: uppercase;
				// margin-bottom: 20px;
			}
		}
		&__count {
			@include flex(0, center);
			margin-bottom: 35px;
			span {
				margin-left: 20px;
				font-size: 16px;
			}
		}
		&__buttons-row {
			@include flex();
			margin-bottom: 25px;
			.btn {
				padding: 20px 25px;
				border-radius: 2px;
				span {
					padding-right: 25px;
					border-right: 1px solid $white;
				}
				svg {
					stroke: $white;
					margin-right: 0;
					margin-left: 15px;
				}
			}
		}
		&__buttons-group {
			margin-left: 20px;
			@include flex();
			a {
				width: 65px;
				height: 65px;
				@include flex(center, center, center);
				background-color: $white;
				border-radius: 1px;
				border: 1px solid $gray-border;
				&:hover {
					background-color: $gray;
				}
			}
			svg {
				font-size: 25px;
			}
		}
		&__description {
			margin-bottom: 55px;
			p {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&__calculator-row {
		}
		&__calculator-title {
			// font: 27px/1.2 $baseFF;
			// text-transform: uppercase;
			// margin-bottom: 27px;
		}
	}
	&--main {
		padding-top: 0;
	}
	&--main & {
		&__items-top {
			background-color: rgba($gray-dark, 0.04);
			margin-bottom: 55px;
			padding: 40px 0 20px 0;
		}
		&__body {
			@include flex(center, center);
		}
		&__item {
			padding: 13px 3.1% 25px 3.1%;
			border-left: 1px solid $gray-border;
			border-right: 1px solid $gray-border;
			@include flex(center, center, center, 0, column);
			&:first-child {
				border-left: none;
				padding-left: 1%;
			}
			&:last-child {
				border-right: none;
				padding-right: 1%;
			}
			span {
				transition: all 0.3s;
				color: #484848;
				&:hover {
					color: $blue;
				}
			}
			a {
				&:first-child {
					margin-bottom: 40px;
				}
			}
			img {
				width: 104px;
				height: 104px;
				padding: 5px;
				background-color: $white;
				box-shadow: -3px 3px 10px $gray-dark;
			}
		}
		&__images {
		}
		&__title {
			font-weight: 600;
			text-align: center;
			margin-bottom: 60px;
			color: $text-gray;
		}
		&__images {
			&-body {
			}
		}
		&__img {
			margin-bottom: 15px;
			@include flex(center, center);
			img {
				width: 368px;
				height: 368px;
				object-fit: cover;
				transition: all 0.3s;
				&:hover {
					box-shadow: 0 0 15px #555;
				}
			}
		}
		&__info {
			color: $text-gray;
			margin-bottom: 35px;
			&:last-child {
				margin-bottom: 0;
			}
			&-title {
				color: $black;
				font-weight: 600;
				text-transform: none;
				margin-bottom: 5px;
			}
		}
	}
	&--delivery {
		padding-bottom: 46px;
	}
	&--delivery & {
		&__comment {
			.checkbox {
				font: 700 18px/1.3 $baseFF;
				margin-bottom: 35px;
			}
		}
		&__button {
			display: none;
		}
		&__input {
			@include flex(0, 0, 0, 0, column);
			span {
				color: $text-gray;
				font-weight: 600;
				margin-bottom: 15px;
			}
			textarea {
				padding: 15px;
				height: 350px;
				border: 1px solid $gray-border;
				border-radius: 4px;
				&:focus {
					border-color: $blue;
				}
			}
		}
	}

	&--contacts {
		p {
			font-size: 14px;
			line-height: 1.4;
			color: $text-gray;
			font-weight: 600;
			&:first-child {
				margin-bottom: 30px;
			}
			margin-bottom: 18px;
		}
	}
	&--profile {
		padding-bottom: 100px;
	}
	&--profile & {
		&__head {
			margin-bottom: 10px;
		}
		&__order {
			margin-top: 25px;
			&:first-child {
				margin-top: 0;
			}
			border-bottom: 2px solid $gray-dark;
			padding-bottom: 15px;
			&-head {
				font-weight: 600;
				@include flex(0, 0, 0, 0, column);
				margin-bottom: 5px;
			}
			&-info {
				@include flex(space-between, center);
				span {
					color: $text-gray;
					font-weight: 600;
				}
			}
		}
		&__cost {
			color: $black;
		}
		&__img {
			@include flex(0, center, 0, nowrap);
			img {
				width: 55px;
				height: 60px;
				border-radius: 1px;
				margin-right: 20px;
			}
		}
	}

	@include media($md) {
		padding: 40px 0 200px;
		&--cart {
			padding: 20px 0 20px 0;
		}
		&--product {
			padding: 40px 0 70px;
		}
		&--product & {
			&__title {
				font: 600 32px/1.2 $baseFF;
			}
			&__cost {
				font: 600 32px/1.2 $baseFF;
			}
		}
		&--catalog {
			padding-bottom: 35px;
		}
		&--main {
			padding-top: 0;
		}
		&--delivery {
			padding-bottom: 46px;
		}
	}

	@include media($sm) {
		padding: 40px 0 150px;
		&--cart & {
			&__total {
				margin-top: 27px;
				margin-bottom: 35px;
			}
		}
		&--catalog {
			padding-bottom: 35px;
		}
		&--catalog & {
			&__pagination {
				padding-top: 30px;
			}
			&__sort-button {
				display: block;
			}
		}
		&--product & {
			&__gallery {
				margin-bottom: 40px;
			}
			&__title {
				font: 600 26px/1.2 $baseFF;
				margin-bottom: 20px;
			}
			&__cost {
				font: 600 26px/1.2 $baseFF;
			}
			&__table {
				margin-bottom: 30px;
			}
		}
		&--main {
			padding-top: 0;
		}
		&--main & {
			&__title {
				margin-bottom: 30px;
			}
			&__items-top {
				margin-bottom: 20px;
			}
			&__item {
				flex-wrap: wrap;
				padding: 13px 2% 25px 2%;
				border: none;
				&:first-child {
					padding: 13px 2% 25px 2%;
					border: none;
				}
				&:last-child {
					border: none;
					padding: 13px 2% 25px 2%;
				}
			}
		}
		&--delivery {
			padding-bottom: 46px;
		}
		&--delivery & {
			&__comment {
				margin-top: 30px;
			}
			&__button {
				margin-top: 20px;
				@include flex(center, center);
			}
			&__input {
				margin: 0 auto;
				width: 100%;
				height: 300px;
				font-size: 14px;
			}
		}
		&--contacts & {
			&__location {
				margin-top: 30px;
			}
		}
		&--profile & {
			&__links {
				margin-bottom: 20px;
			}
		}
	}
	@include media($xs) {
		padding: 30px 0 100px;
		&__bread {
			margin-bottom: 30px;
		}
		&__title {
			margin-bottom: 40px;
		}
		&__row {
			margin-bottom: -20px;
			&-item {
				margin-bottom: 20px;
			}
		}
		&--catalog {
			padding: 40px 0 35px;
		}
		&--catalog & {
			&__sort {
				@include flex(center, center, 0, nowrap, column);
			}
			&__row {
				&-bottom {
					margin: 20px 0;
				}
				&-link {
					@include flex(center, center);
					span {
						font: 700 17px/1.2 $baseFF;
						text-decoration: underline;
					}
					svg {
						font-size: 30px;
						margin-right: 25px;
					}
				}
			}
		}
		&--cart {
			padding: 20px 0 20px 0;
		}
		&--cart & {
			&__title {
				margin-bottom: 15px;
				margin-top: 10px;
			}
			&__total {
				&-body {
					width: 100%;
				}
				&-table {
					margin-bottom: 67px;
					p {
						padding: 9px;
						font: 600 12px/1.2 $baseFF;
						text-transform: uppercase;
					}
				}
				&-text {
					flex: 0 1 287px;
				}
				&-costs {
					@include flex(0, 0, 0, 0, column);
					flex: 0 1 287px;
				}
				&-button {
					max-width: 571px;
					.btn {
						width: 100%;
					}
				}
			}
		}
		&--product {
			padding: 40px 0 50px;
		}
		&--product & {
			&__add-block {
				margin: 24px 0;
			}
			&__comments,
			&__discription {
				padding-bottom: 24px;
				margin-bottom: 24px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			&__title {
				font: 600 20px/1.2 $baseFF;
			}
			&__cost {
				font: 600 20px/1.2 $baseFF;
			}
			&__params {
				&-icon {
					display: none;
				}
			}
			&__count {
				@include flex(center, center, center, 0, column);
				span {
					margin-top: 10px;
				}
			}
			&__delivery {
				&-free {
					max-width: 300px;
					width: auto;
					font-size: 14px;
					padding: 22px 15px 12px 25px;
				}
			}
			&__buttons {
				&-row {
					@include flex(center, center, center, 0, column);
					.btn {
						margin-bottom: 10px;
					}
				}
			}
		}
		&--main {
			padding-top: 0;
		}
		&--main & {
			&__body {
				justify-content: space-between;
			}
			&__item {
				width: 100%;
				padding: 13px 2% 25px 2%;
				border: none;
				&:first-child {
					padding: 13px 2% 25px 2%;
					border: none;
				}
				&:last-child {
					border: none;
					padding: 13px 2% 25px 2%;
				}
			}
		}
		&--delivery {
			padding-bottom: 30px;
			.checkbox {
				label {
					font-weight: 700;
				}
			}
		}
		&--delivery & {
			&__input {
				width: 100%;
			}
		}
		&--profile {
			padding-bottom: 100px;
		}
		&--profile & {
			&__order {
				margin-top: 20px;
				padding-bottom: 10px;
				&-head {
					margin-bottom: 10px;
				}
				&-info {
					@include flex(center, center, center, 0, column);
				}
			}
			&__img {
				img {
					margin-bottom: 10px;
				}
				margin-bottom: 10px;
				@include flex(center, center, 0, 0, column);
			}
		}
	}
}
