.main-section {
	padding: 40px 0 170px;
	position: relative;
	background: url("../images/bg-main.png");
	&__bread {
		margin-bottom: 30px;
	}
	&__title {
		text-transform: uppercase;
		color: $title-color;
	}
	&__subtitle {
		color: $green;
	}
	&__row {
		margin-bottom: -30px;
		&-item {
			margin-bottom: 30px;
		}
	}
	&--catalog {
		padding-bottom: 35px;
	}
	&--catalog & {
		&__row {
			&-bottom {
				margin: 40px 0;
			}
			&-link {
				@include flex(center, center);
				span {
					font: 700 27px/1.2 $baseFF;
					text-decoration: underline;
				}
				svg {
					font-size: 60px;
					margin-right: 25px;
				}
			}
		}
		&__filter {
			margin-bottom: 70px;
		}
		&__pagination {
			border-top: 2px solid $gray_dark;
			padding-top: 50px;
			margin-bottom: 20px;
		}
		&__sort {
			@include flex(flex-end);
			margin-bottom: 35px;
			&-item {
				@include flex(flex-end, center);
				select {
					padding: 10px 0 10px 0;
					background-color: $white;
					border-radius: 0;
					border: 1px solid $gray-border;
					margin-right: 10px;
				}
			}
			&-button {
				display: none;
				max-width: 286px;
				width: 100%;
				margin-bottom: 25px;
				.btn {
					width: 100%;
					justify-content: center;
					padding-left: 95px;
				}
				svg {
					margin-left: auto;
					margin-right: 0;
				}
			}
			&-link {
				@include flex(center, center);
				background-color: $white;
				padding: 8px;
				border: 1px solid $gray-border;
				&:focus {
					background-color: $gray-middle;
				}
				svg {
					font-size: 26px;
				}
			}
		}
	}
	&--cart {
		padding: 30px 0 30px;
	}
	&--cart & {
		&__head {
			@include flex(space-between, center);
			margin-bottom: 27px;
			&-link {
				font: 600 14px/23px $baseFF;
				letter-spacing: 1px;
				color: $blue;
				transition: all 0.3s;
				&:hover {
					color: $link-dark;
				}
			}
		}
		&__title {
			margin-bottom: 0;
			margin-right: 15px;
		}
		&__subtitle {
			font: 14px/1.4 $baseFF;
			color: #8699a5;
			margin-bottom: 30px;
		}
		&__table-body {
			width: 100%;
		}
		&__total {
			@include flex(flex-end);
			margin-top: 67px;
			margin-bottom: 95px;
			&-body {
				@include flex(0, 0, 0, 0, column);
			}
			&-title {
				font: 700 18px/1.2 $baseFF;
				margin-bottom: 23px;
				text-transform: uppercase;
			}
			&-table {
				margin-bottom: 67px;
			}
			&-button {
				margin-top: 27px;
				max-width: 571px;
				.btn {
					width: 100%;
				}
			}
		}
	}

	@include media($md) {
		padding: 40px 0 200px;
		&--cart {
			padding: 20px 0 20px 0;
		}
		&--product {
			padding: 40px 0 70px;
		}
		&--catalog {
			padding-bottom: 35px;
		}
	}

	@include media($sm) {
		padding: 40px 0 150px;
		&--cart & {
			&__total {
				margin-top: 27px;
				margin-bottom: 35px;
			}
		}
		&--catalog {
			padding-bottom: 35px;
		}
		&--catalog & {
			&__pagination {
				padding-top: 30px;
			}
		}
	}
	@include media($xs) {
		padding: 30px 0 100px;
		&__bread {
			margin-bottom: 30px;
		}
		&__title {
			margin-bottom: 40px;
			font-size: 26px;
		}
		&__row {
			margin-bottom: -20px;
			&-item {
				margin-bottom: 20px;
			}
		}
		&--catalog {
			padding: 40px 0 35px;
		}
		&--catalog & {
			&__sort-button {
				display: block;
			}
			&__sort {
				@include flex(center, center, 0, nowrap, column);
			}
			&__row {
				&-bottom {
					margin: 20px 0;
				}
				&-link {
					@include flex(center, center);
					span {
						font: 700 17px/1.2 $baseFF;
						text-decoration: underline;
					}
					svg {
						font-size: 30px;
						margin-right: 25px;
					}
				}
			}
		}
		&--cart {
			padding: 20px 0 20px 0;
		}
		&--cart & {
			&__title {
				margin-bottom: 15px;
				margin-top: 10px;
			}
			&__total {
				&-body {
					width: 100%;
				}
				&-title {
					font: 700 18px/1.2 $baseFF;
					margin-bottom: 23px;
					text-transform: uppercase;
				}
				&-table {
					margin-bottom: 67px;
					p {
						padding: 9px;
						font: 600 12px/1.2 $baseFF;
						text-transform: uppercase;
					}
				}
				&-text {
					flex: 0 1 287px;
				}
				&-costs {
					@include flex(0, 0, 0, 0, column);
					flex: 0 1 287px;
				}
				&-button {
					max-width: 571px;
					.btn {
						width: 100%;
					}
				}
			}
		}
		&--product {
			padding: 40px 0 50px;
		}
		&--product & {
			&__add-block {
				margin: 24px 0;
			}

			&__comments,
			&__discription {
				padding-bottom: 24px;
				margin-bottom: 24px;
				&:last-child {
					margin-bottom: 0;
				}
			}

			&__params {
				&-icon {
					display: none;
				}
			}
		}
	}
}
