mixin socList(data)
	.soc-list&attributes(attributes)
		._item
			a(href="#")
				+svg('vk')
		._item
			a(href="#")
				+svg('facebook')
		._item
			a(href="#")
				+svg('instagram')
		._item
			a(href="#")
				+svg('ok')