
.tabs{
	&__nav{list-style: none;  @include flex(); flex-wrap: nowrap; 
		&-item{ display: inline-block; min-width: 240px; position: relative; text-align: center; margin-right: 15px; color: $blue-dark; @include transition(); white-space: nowrap; background: $icon-bg-directory; border-radius: 10px; 

			&:last-child{ margin-left: 0; }
			
			a{ display: block; padding: 18px; text-decoration: none; } 
			
			&.is-active, &:hover{ color: $white; background: $green;  }
			//&.active{ font-weight: 800; }

			&--disabled{ opacity: .4; } 
		}

		
		&--around{ @include flex(space-around,center,center,nowrap); }
		&--around &{ 
			&-item{ margin-left: 0; margin-right: 0; white-space: nowrap;  }
		}
 
		&--center{ @include flex(center,center,center,nowrap); }
		&--center &{ 
			&-item{ margin: 0 2rem; }
		}

		&--sm &{ 
			&-item{ min-width: 170px; 
				a{ padding: 12px;  }
			}
		}
	}

	&__body{ visibility: hidden; pointer-events: none; opacity: 0; @include time(0s, opacity); position: absolute; left: -8888px; top: 0;
		&.is-active, &.is-visible{display: block; visibility: visible; opacity: 1; pointer-events: auto; position: relative; left: 0; }
	}   

	@include media($sm){  
		&__nav{ overflow-x: auto; 
			&-item{ min-width: 140px; 
				a{ padding: 8px 10px; } 
			}

			&--around{ @include flex(flex-start,center,center,nowrap); } 
			&--around &{ 
				&-item{ margin-left: 0; margin-right: 40px; white-space: nowrap;  }
			}
		}
	}
}

.tab-nav-select{ display: none; }



