.menu-block {
	@include flex(0, center, center, nowrap);
	&__item {
		color: $white;
		font: 500 13px/18px $baseFF;
		position: relative;
		& > a,
		& > span {
			@include flex(0, center, center, nowrap);
			padding: 20px 13px;
			white-space: nowrap;
			@include time();
			& > svg {
				width: 16px;
				height: 16px;
				margin-right: 7px;
			}
		}

		&.d-none {
			display: none;
		}

		&:first-child {
			& > a {
				background-color: $green-dark;
			}
		}
		&:last-child {
			margin-right: 0;
		}

		&:hover {
			& > a {
				text-decoration: none;
				//background-color: $green-dark;
				color: $yellow;
			}

			.menu-block__sub-min {
				opacity: 1;
				pointer-events: auto;
				top: calc(100% + 13px);
			}
		}

		&.active,
		&.hover {
			& > a {
				text-decoration: none;
				background-color: $green-dark;
			}

			.menu-block__sub {
				//@include flex();
				max-height: 90vh;

				padding: 34px 14px 4px;
			}
		}
	}
	&__sub {
		position: absolute;
		top: 100%;
		left: 0;
		background: $form-input-bg;
		@include time();
		max-width: 830px;
		padding: 0 14px 0;
		width: calc(100vw - 30px);
		@include flex();

		overflow: hidden;
		max-height: 0;
		&-item {
			flex: 0 0 20%;
			max-width: 20%;
			padding: 0 16px;
			margin-bottom: 30px;
			text-align: center;
			color: $green;
			font: bold 15px $baseFF;

			picture {
				margin: 0 auto 9px;
				display: block;
			}
			img {
				display: block;
				width: 100%;
				border-radius: 50%;
				border: 3px transparent solid;
				@include time();
			}
			span {
				@include flex(center, center, center);
				min-height: 36px;
				text-align: center;
			}

			&.parent {
				& > a > picture {
					position: relative;
					display: block;
					&:after {
						content: "";
						display: none;
						width: 38px;
						height: 33px;
						background: url("../images/menu-block-angle.svg") 50% 50% / contain no-repeat;
						position: absolute;
						top: 50%;
						right: -37px;
						transform: translateY(-50%);
					}
				}
			}

			&:hover,
			&.active {
				& > a {
					color: $form-blue;

					img {
						border: 3px $form-blue solid;
					}
				}

				.menu-block__sub2 {
					max-width: 100%;
					padding: 29px 17px;
				}

				&.parent {
					& > a > picture {
						&:after {
							display: block;
						}
					}
				}
			}
		}
	}

	&__sub2 {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background: #d5e3ec;
		@include flex();
		overflow: hidden;
		max-height: 100%;
		padding: 29px 0;
		max-width: 0;
		overflow: hidden;
		@include time();
		z-index: 4;

		.menu-block__item,
		.menu-block__sub-item {
			flex: 0 0 33.33%;
			max-width: 33.33%;
			padding: 0 12px;
			//margin-bottom: 23px;

			img {
				border: 7px #c5d8e3 solid;
			}

			&:hover,
			&.active {
				& > a {
					img {
						border-width: 7px;
					}
				}
			}
		}
	}

	&__sub-min {
		width: 200px;
		position: absolute;
		top: -50%;
		opacity: 0;
		pointer-events: none;
		@include time();
		left: 50%;
		transform: translateX(-50%);
		background: $green;
		padding: 20px;
		color: $white;

		&:before {
			position: absolute;
			content: "";
			top: -14px;
			left: 50%;
			transform: translateX(-50%);
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 20px solid $green;
		}

		.menu-block__item {
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				padding: 0;
				background: none !important;
			}
		}
	}

	@include media($md) {
		&__item {
			&.d-block_md {
				display: block;
			}
		}
	}
	@include media($xs) {
		display: block;
		&__item {
			color: $green;
			flex: 0 0 100%;
			max-width: 100%;
			font: bold 15px $baseFF;

			.js-menu-toggle {
				svg {
					margin-right: 0;
				}
			}

			a {
				padding: 8px 16px 8px 74px;
			}

			&.parent {
				& > a {
					color: $white;
					padding: 20px 13px;
				}
			}

			&.hover {
				.menu-block__sub {
					overflow-y: auto;
					padding: 16px 0;
				}
			}

			&.d-none_xs {
				display: none;
			}
			&.d-none_sm {
				display: none;
			}
			&.d-block_sm {
				display: block;
			}
		}

		&__sub {
			padding: 0;

			&-item {
				flex: 0 0 100%;
				max-width: 100%;
				padding: 0;
				margin-bottom: 0;
				text-align: left;
				font: bold 14px $baseFF;
				a {
					padding: 8px 16px;
					text-align: left;
					@include flex(0, center, center, nowrap);
					picture {
						margin: 0 16px 0 0;
						max-width: 42px;
					}
					span {
						display: block;
						min-height: 0;
						text-align: left;
					}
				}

				&:hover,
				&.active {
					&.parent {
						& > a > picture {
							&:after {
								display: none;
							}
						}
					}

					.menu-block__sub2 {
						max-height: 1000px;
						padding: 0;
					}
				}
			}
		}

		&__sub2 {
			position: static;
			background: #d5e3ec;
			display: block;
			overflow: hidden;
			max-height: 0;
			padding: 0;
			max-width: 100%;

			.menu-block__item,
			.menu-block__sub-item {
				flex: 0 0 100%;
				max-width: 100%;
				padding: 0;
				//margin-bottom: 23px;

				img {
					border: 3px #c5d8e3 solid;
				}

				&:hover {
					& > a {
						img {
							border-width: 3px;
						}
					}
				}
			}
		}
	}
}
