
mixin menuBlock(data)
	.menu-block&attributes(attributes)
		._item
			a(href="#") Каталоги
		._item
			a(href="#") О нас
		._item
			a(href="#") Доставка и оплата
		._item
			a(href="#") Задать вопрос
		._item
			a(href="#") Скидки
		._item
			a(href="#") Новости
		._item
			a(href="#") Контакты