.slider-section {
	position: relative;
	overflow: hidden;
	z-index: 1;
	padding: 255px 0 35px;
	color: $white;
	@include mq("tablet", min) {
		&:before,
		&:after {
			right: 2 * percentage(1/12);
			content: "";
			position: absolute;
			top: 0;
			width: 1px;
			height: 100%;
			background: rgba(#fff, 0.3);
			margin-right: -15px;
			z-index: 1;
		}

		&:after {
			right: 4 * percentage(1/12);
		}
		.container {
			&:before {
				content: "";
				position: absolute;
				top: 0;
				width: 1px;
				height: 100%;
				left: 50%;
				margin-left: -780px;
				background: rgba(#fff, 0.3);
				@include mq("desktop") {
					margin-left: -425px;
				}
			}
		}
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-position: 50% 0;
		background-repeat: no-repeat;
	}
	&__container {
		@include flex(space-between, stretch, stretch, nowrap);
	}
	&__info {
		max-width: 60%;
		flex: 0 0 60%;
	}
	&__title {
		color: $white;
		margin-bottom: 40px;
		max-width: 750px;
	}
	&__text {
		margin-bottom: 80px;
		font: 18px/33px $baseFF;
		max-width: 750px;
	}
	&__dots {
		margin-top: 120px;
		position: relative;
		z-index: 5;
	}
	&__img {
		width: 445px;

		&-wrapper {
			max-width: 40%;
			flex: 0 0 40%;
			@include flex(flex-end);
			position: relative;
			z-index: 3;
		}
		&-pos {
			overflow: hidden;
			margin-right: calc(-50vw + 50%);
			flex: 1 1 auto;
		}
		.slick-list,
		.slick-track {
			overflow: visible;
		}
		&-item {
			position: relative;
			z-index: 1;
			opacity: 0;
			@include time();
			margin-right: 140px;
			max-width: 445px;
			flex: 0 0 445px;
			&:after {
				content: "";
				display: block;
				width: 445px;
				height: 100%;
				background: $yellow;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				border-radius: 3px;
				box-shadow: 0 45px 37px rgba(#ece100, 0.38);
			}
			img {
				display: block;
				max-width: 470px;
			}

			&.slick-current {
				opacity: 1;
				& + .slick-slide {
					opacity: 1;
				}
			}
		}
	}
	&__next {
		@include flex(center, center, center);
		border-radius: 4px;
		background: $white;
		color: $black;
		width: 75px;
		height: 75px;
		position: absolute;
		bottom: 140px;
		right: 20px;
		z-index: 5;
		svg {
			fill: $black;
			font-size: 38px;
		}
	}

	@media (max-height: 800px) {
		&__next {
			bottom: auto;
			top: 88vh;
		}
	}

	@include media($md) {
		padding: 170px 0 60px;
		&__title {
			margin-bottom: 30px;
		}
		&__text {
			margin-bottom: 50px;
			font: 15px/30px $baseFF;
		}
		&__dots {
			margin-top: 60px;
		}
		&__img {
			width: 285px;
			&-wrapper {
				display: block;
				max-width: 37%;
				flex: 0 0 37%;
			}

			&-item {
				margin-right: 60px;
				max-width: 285px;
				flex: 0 0 285px;
				&:after {
					width: 285px;
				}
				img {
					max-width: 300px;
				}
			}
		}
		&__next {
			width: 50px;
			height: 50px;
			bottom: 110px;
			svg {
				font-size: 26px;
			}
		}
	}

	@include media($sm) {
		&__info {
			max-width: 55%;
			flex: 0 0 55%;
		}
		&__img {
			//width: 285px;
			&-wrapper {
				max-width: 45%;
				flex: 0 0 45%;
			}
		}
		&__title {
			br {
				display: none;
			}
		}
	}

	@include media($xs) {
		padding: 170px 0 20px;
		&__container {
			display: block;
		}
		&__info {
			max-width: 100%;
			flex: 0 0 100%;
			margin-bottom: 35px;
		}
		&__title {
			margin-bottom: 20px;
		}
		&__text {
			margin-bottom: 25px;
		}
		&__dots {
			margin-top: 25px;
		}
		&__img {
			width: 445px;
			&-pos {
				margin: 0 -15px 0 0;
			}
			&-wrapper {
				max-width: 100%;
				flex: 0 0 100%; /*  @include flex(flex-end);  */
			}
			//.slick-list,  .slick-track{ overflow: visible; }
			&-item {
				margin-right: 140px;
				max-width: 445px;
				flex: 0 0 445px;
				&:after {
					width: 445px;
					box-shadow: 0 5px 27px rgba(#ece100, 0.38);
				}
				img {
					max-width: 470px;
				}

				/* &.slick-current{ opacity: 1;
					& + .slick-slide{ opacity: 1;  }
				} */
			}
		}
	}

	@include media($xs) {
		//padding: 170px 0 20px;
		//&__container{ display: block;  }
		//&__info{max-width: 100%; flex: 0 0 100%; margin-bottom: 35px; }
		&__title {
			br {
				display: none;
			}
		}
		//&__text{ margin-bottom: 25px; }
		//&__dots{ margin-top: 25px; }
		&__img {
			width: 240px;
			&-item {
				margin-right: 30px;
				max-width: 240px;
				flex: 0 0 240px;
				&:after {
					width: 240px;
				}
				img {
					max-width: 100%;
				}
			}
		}
		&__next {
			bottom: 100px;
		}
	}
}
