.calculator-block {
	@include flex(0, center);
	&__body {
		flex: 0 1 61%;
		color: $text-gray;
		@include flex(0, center);
		margin-bottom: -7px;
	}
	&__item {
		margin-bottom: 7px;
		position: relative;
		width: 85px;
		margin-right: 7px;
		&:last-child {
			margin-right: 0;
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			/* display: none; <- Crashes Chrome on hover */
			-webkit-appearance: none;
			margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
		}
		input {
			width: 100%;
			padding-right: 40px;
			height: 56px;
			padding-left: 10px;
			border: 1px solid $blue;
		}
		span {
			position: absolute;
			top: 15px;
			right: 10px;
		}
	}
	&__total {
		flex: 1 1 auto;
		font: 700 25px/1.2 $baseFF;
	}
	@include media($xs) {
		@include flex(0, center, 0, 0, column);
	}
}
