mixin calculatorBlock(data)
	.calculator-block#calculator&attributes(attributes)
		._body
			._item
				input(type="number" id="calc-value-1" name="Площадь(м^2)")
				span м<sup>2<sup>
			._item
				input(type="number" id="calc-value-2" name="Количесвто (шт)")
				span шт
			._item
				input(type="number" id="calc-value-3" name="пак")
				span пак
			._item
				input(type="number" id="calc-value-4" name="Масса (кг)")
				span кг
			._item
				input(type="number" id="calc-value-5"  placehilder="" name="пл")
				span пл
		._total
			<span>=</span>
			span.js-calc-result 5
			span грн