
mixin searchBlock(data)
	.search-block&attributes(attributes)
		input._input(type="text" placeholder=data.placeholder)
		button._btn
			+svg('search')
		a._close.js-search-mob-hide(href="#") 
			+svg('close')