mixin footer(data)
	footer.footer&attributes(attributes)
		._container.container
			._row.row
				._logo-col.col-auto.col-md-6.col-xs-12
					._logo
						img(src="images/logo.png", alt="logo")
					._slogan Интернет магазин керамической плитки
				._menu.col-auto.col-md-6.col-xs-12
					._title Время работы  
					._menu-item
						p Пн.-Пт.: 08:00 - 22:00 
					._menu-item
						p Сб.: 09:00 - 20:00
					._menu-item
						p Вс.: 09:00 - 19:00
				._menu.col-auto.col-md-6.col-xs-12
					._title Контакты
					._menu-item
						p Тел.: + 38 (044) 111-11-11
					._menu-item
						p e-mail: info@sm2.com.ua
				._menu.col-auto.col-md-6.col-xs-12
					._title Информация
					._menu-item
						p Тел.: + 38 (044) 111-11-11
					._menu-item
						a(href="#") Пользовательское соглашение
					._menu-item
						p © 2020-2021  Интернет-магазин плитки
						