include ../count-block/template

mixin tableNews(data)
	.table.-carts&attributes(attributes)
				._row.-head
					._cell
						span наименование
					._cell
						span цена
					._cell
						span количество
					._cell
						span всего
				._row
					._cell
						._cell-product
							._img
								img(src="images/cart-img-1.png", alt="")
							a(href="#")._name Плитка Zeus Ceramica Calcare ZRXCL0BR
					._cell 
						._slogan цена
						span 121 грн 
					._cell
						._slogan количество
						+countBlock()
					._cell 
						._slogan всего
						._cell-icon
							span 242 грн
							a(href="#")._close
				._row
					._cell
						._cell-product
							._img
								img(src="images/cart-img-1.png", alt="")
							a(href="#")._name Плитка Zeus Ceramica Calcare ZRXCL0BR
					._cell 
						._slogan цена
						span 235 грн 
					._cell
						._slogan количество
						+countBlock()
					._cell
						._slogan всего
						._cell-icon 
							span 235 грн
							a(href="#")._close
				._row
					._cell
						._cell-product
							._img
								img(src="images/cart-img-1.png", alt="")
							a(href="#")._name Плитка Zeus Ceramica Calcare ZRXCL0BR
					._cell
						._slogan цена 
						span 456 грн 
					._cell
						._slogan количество
						+countBlock()
					._cell
						._slogan всего
						._cell-icon 
							span 456 грн
							a(href="#")._close

mixin tableTotal(data)
	.table.-carts.-total&attributes(attributes)
				._row.-head
					._cell
						span цена за все
					._cell
						._slogan цена за все
						span 933,00 грн
				._row
					._cell
						span персональная скидка <strong>(10%)</strong>
					._cell
						._slogan персональная скидка <strong>(10%)</strong> 
						span <strong>93 грн</strong>
				._row
					._cell
						span всего
					._cell 
						._slogan всего
						span <strong>840,00 грн</strong>

mixin tableTwoCol(data)
	.table.-carts.-total.-product&attributes(attributes)
		._row.-head
			._cell
				span Наименование
			._cell
				._slogan Наименование
				span Декор
		._row
			._cell
				span Серия
			._cell
				._slogan Серия
				span Todor
		._row
			._cell
				span Единица измерения	
			._cell 
				._slogan Единица измерения	
				span шт
		._row
			._cell
				span Ширина	
			._cell 
				._slogan Ширина	
				span 15
		._row
			._cell
				span Длина	
			._cell 
				._slogan Длина	
				span 400
		._row
			._cell
				span Толщина	
			._cell 
				._slogan Толщина	
				span 0.8
		._row
			._cell
				span Вес одной штуки	
			._cell 
				._slogan Вес одной штуки	
				span 0.85
		._row
			._cell
				span Штук в упаковке	
			._cell 
				._slogan Штук в упаковке	
				span 15
		._row
			._cell
				span Вес упаковки	
			._cell 
				._slogan Вес упаковки
				span 12.7
		._row
			._cell
				span Страна-производитель	
			._cell 
				._slogan Страна-производитель
				span Украина
		._row
			._cell
				span Цвет	
			._cell 
				._slogan Цвет
				span бежевый белый
		._row
			._cell
				span Назначение
			._cell 
				._slogan Назначение
				span стены кухня ванная
		._row
			._cell
				span Стилизация
			._cell 
				._slogan Стилизация
				span узор
		._row
			._cell
				span Тип
			._cell 
				._slogan Тип
				span глянцевая глазурованная неректифицированная
		._row
			._cell
				span Материал
			._cell 
				._slogan Материал
				span Керамика Кафель																									