.breadcrumbs {
	&__ul {
		@include flex();
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__li {
		font: 600 12px/1.2 $baseFF;
		color: $text-gray;
		@include flex(0, center, center, nowrap);
		&:after {
			content: "/";
			margin: 0 4px;
		}
		a {
			text-decoration: none;
			text-transform: uppercase;
		}

		&:last-child {
			&:after {
				display: none;
			}
			a {
				color: $blue;
			}
		}
	}

	@include media($xs) {
		display: none;
		&__ul {
			flex-wrap: nowrap;
			overflow: auto;
		}
		&__li {
			white-space: nowrap;
		}
	}
}
