.breadcrumbs {
	&__ul {
		@include flex();
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__li {
		font: $fs-14;
		color: $text-green-dark;
		@include flex(0, center, center, nowrap);
		&:after {
			content: "";
			width: 4px;
			height: 4px;
			background: $text-green-dark;
			border-radius: 50%;
			margin: 0 12px;
		}
		a {
			color: $text-green-dark;
			text-decoration: none;
		}

		&:last-child {
			&:after {
				display: none;
			}
			a {
				color: rgba($green, 0.4);
			}
		}
	}

	@include media($xs) {
		&__ul {
			flex-wrap: nowrap;
			overflow: auto;
		}
		&__li {
			white-space: nowrap;
		}
	}
}
