.form-block {
	&__form {
		&-item {
			margin-bottom: 20px;
			@include flex(0, 0, 0, 0, column);
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				/* display: none; <- Crashes Chrome on hover */
				-webkit-appearance: none;
				margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
			}
			input {
				border: 1px $gray-border solid;
				border-radius: 2px;
				height: 45px;
				padding-left: 20px;
				&:focus {
					border-color: $blue;
				}
			}
			sup {
				color: $red;
			}
			span {
				color: $gray-dark;
				font-size: 14px;
				margin-bottom: 10px;
			}
		}
	}
	&__check-list {
		font-size: 14px;
		margin-bottom: 30px;
		.checkbox {
			margin-bottom: 30px;
			color: $text-gray;
		}
		span {
			display: block;
			height: auto;
			width: 520px;
			padding: 12px;
			background-color: $white;
			margin: 15px 0;
			font-weight: normal;
			color: $text-gray;
			line-height: 1.5;
		}
	}
	&__button {
		@include flex(flex-end, center);
		.btn {
			text-transform: uppercase;
			font-size: 15px;
			// padding-left: 21px;
			// padding-right: 21px;
			// border-radius: 2px;
		}
	}
	&__comment {
		.checkbox {
			font: 700 18px/1.3 $baseFF;
			margin-bottom: 35px;
		}
	}
	&__input {
		@include flex(0, 0, 0, 0, column);
		span {
			color: $text-gray;
			font-weight: 600;
			margin-bottom: 15px;
		}
		textarea {
			padding: 15px;
			height: 350px;
			border: 1px solid $gray-border;
			border-radius: 4px;
			&:focus {
				border-color: $blue;
			}
		}
	}

	&--message {
		textarea {
			height: 190px;
			width: 100%;
			border: 1px solid $gray-border;
			border-radius: 1px;
			padding: 20px;
			&:focus {
				border-color: $blue;
			}
		}
	}
	&--message & {
		&__button {
			justify-content: flex-start;
		}
		&__form {
			&-item {
				span {
					font-size: 14px;
				}
			}
		}
	}
	&--login & {
		&__form {
			font-size: 14px;
			&-item {
				margin-bottom: 15px;
			}
		}
		&__info {
			margin-bottom: 20px;
			margin-left: 20px;
			@include flex(space-between, center, 0, nowrap);
			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&__button {
			.btn {
				width: 100%;
				text-transform: uppercase;
			}
			margin-bottom: 15px;
		}
		&__link {
			a {
				&:hover {
					text-decoration: underline;
				}
			}
			text-align: center;
			color: $gray-dark;
		}
	}
	&--call {
		textarea {
			border: 1px solid $blue;
			height: 125px;
			&:focus {
				box-shadow: 0 0 15px rgba($blue-dark, 0.6);
			}
		}
		input {
			border: 1px solid $blue;
			&:focus {
				box-shadow: 0 0 15px rgba($blue-dark, 0.6);
			}
		}
	}
	&--call & {
		&__form {
			margin-top: 30px;
		}
		&__button {
			.btn {
				width: 100%;
			}
		}
	}
	&--director {
		span {
			color: $white;
		}
	}
	@include media($sm) {
		&__body {
			&-left {
				margin-bottom: 20px;
			}
		}
		&__button {
			justify-content: center;
		}
		&__input {
			margin: 0 auto;
			width: 500px;
			height: 300px;
		}
		&--login & {
			&__form {
				width: 100%;
			}
		}
		&--call & {
			&__form {
				margin-top: 10px;
			}
		}
		&--main & {
			&__button {
				display: none;
			}
		}
	}
	@include media($xs) {
		&__check-list {
			span {
				width: auto;
				font-size: 13px;
			}
		}
		&__input {
			width: 100%;
		}
		&--login & {
			&__info {
				flex-direction: column;
				.checkbox {
					margin-bottom: 15px;
				}
			}
		}
	}
}
