//include normalize
@import "libs/normalize";
//include fonts
@import "partials/fonts";
//include sprite-svg
@import "partials/sprite-svg";
//include variables
@import "helpers/variables";
// include functions
@import "helpers/functions";

@import "helpers/breakpoints";
@import "helpers/grid-framework";
@import "helpers/grid";

// include mixin
@import "helpers/mixin";
/* Ссылки
-----------------------------*/
@import "partials/link";
/* Сетка
-----------------------------*/
@import "partials/grid";
/* Кнопки на сайте
-----------------------------*/
@import "partials/buttons";
/* Элементы форм
-----------------------------*/
@import "partials/forms";
@import "partials/checkbox";
@import "partials/nice-select";
@import "partials/range-slider";
/* Базовые стили всего сайта
-----------------------------*/
@import "partials/base";

/* TITLES */
@import "partials/titles";
@import "partials/table";
@import "partials/slick";
//@import "partials/mCustomScrollbar";
//@import "partials/range-slider";
@import "partials/item-page";
@import "partials/fancybox";

/* Модальные окна
-----------------------------*/
@import "../../bower_components/fancybox/dist/jquery.fancybox.css";

/* Шапка сайта
-----------------------------*/
@import "../components/header/style";
/* Подвал сайта
-----------------------------*/
@import "../components/footer/style";
/* Мобильное меню
-----------------------------*/
@import "../components/menu-block/style";

// @import "../components/soc-list/style";
@import "../components/burger/style";
@import "../components/popup/style";
@import "../components/filter-block/style";
@import "../components/search-block/style";
@import "../components/breadcrumbs/style";
@import "../components/table/style";
@import "../components/count-block/style";
@import "../components/main-section/style";
@import "../components/nav-block/style";
@import "../components/product-block/style";
@import "../components/pagination/style";
@import "../components/gallery-block/style";
@import "../components/calculator-block/style";
@import "../components/form-block/style";
@import "../components/left-menu/style";

/* Модификаторы  
-----------------------------*/
@import "partials/modifiers.scss";
