mixin leftMenu(data)
	.left-menu&attributes(attributes)
		._items 
			._item
				a(href="#") Мои заказы
			._item
				a(href="#") Список желаний
			._item
				a(href="#") Просмотренные товары
			._item
				a(href="#") Мой бонусный счет
			._item
				a(href="#") Мои отзывы
			._item
				a(href="#") Участие в акциях